.display-4 {
  background-color: rgb(241, 175, 53);
  font-size: 3rem;
}

.lead1 {
  background-color: rgb(31, 41, 133);
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.more {
  text-align: center;
}

.clear {
  background-color: black;
  color: yellow;
  text-align: left;
  font-size: 2.4rem;
}

.shop-sale {
  background-color: white;
  color: white;
  text-align: center;
}

.sale {
  background-color: rgb(64, 64, 247);
}

.display-5 {
  background-color: rgb(207, 199, 199);
  display: flex;
  flex-wrap: nowrap;
}

.img1 {
  flex: 2;
  margin: 10px;
}

.box2 h1 {
  font-size: 5rem;
  margin-right: 20rem;
  margin-top: 10rem;
}

.box2 h3 {
  font-size: 3rem;
  margin-right: 20rem;
}

.img2 {
  flex: 3;
  margin: 10px;
  text-align: center;
}

.display-6 {
    
    display: flex;
    flex-wrap: nowrap;
  }
  
  .img2 {
    flex: 2;
    margin: 10px;
    margin-right: 10rem;
  }
  
  .box3 h1 {
    font-size: 5rem;
    margin-left: 10rem;
    margin-top: 10rem;
  }
  
  .box3 h3 {
    font-size: 1.5rem;
    margin-left: 10rem;
  }
  
  .img3 {
    flex: 3;
    margin: 10px;
    text-align: center;
  }
  
  