
.display-4{
    background-color: rgb(241, 175, 53);
    font-size: 3rem;
}

.lead1 {
    background-color: rgb(31, 41, 133);
    color:white;
    font-size: 1.5rem;
    text-align: center;    
}

.clear {
    background-color: black;
    color: yellow;
    text-align: left;
    font-size: 2.4rem;
}

.sale{
    background-color: rgb(79, 98, 206);
    color: white;
    font-size: 1.6rem;
}

.img1{
    
    background-color: rgb(199, 196, 196);
    width:100%;
    height:auto;
      
}

.img1 h4{
    font-size: 3rem;
}
.img1 p{
    font-size:2rem;
}