
.free-shipping h1 {
    font-size: 4rem;
    text-align: center;
}

.free-shipping h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.free-shipping p {
    font-size: 1rem;
    text-align: left;
    margin-left: 30rem;
}