

.product {
  display: inline-block;
  text-align: center;
  width: 550px;
  border: 1px solid rgb(121, 115, 115);
  width: 300;
  height: 350px;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 2rem;
  margin-bottom: 20px;
}

.product h5 {
  flex-grow: 1;
  font-size: 1rem;
}

.product label {
  flex-grow: 1;
  text-align: center;
}

.btn-info {
    margin-bottom: 3rem;
    background-color: rgb(147, 147, 224);
    border: rgb(147, 147, 224);
    color: white;
}

.product img {
  width: 10rem;
  height: 10rem;
    
}

.info {
  margin-left:0px;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: rgb(147, 147, 224);
  color: white;
  
}

.info:hover {
background-color: rgb(143, 210, 255);
color: black;
}




