
 
.btn-group button {
    font-size: 13px;
    background-color: rgb(147, 147, 224); 
    border: 1px rgb(147, 147, 224); 
    color: white; 
    padding: 10px 20px;
    text-align: center;
    display: inline-block;  
    margin: 2px 2px;  
    cursor: pointer; 
  }    
  
  .btn-group button:hover {
    background-color: #09d8f3;
  }

  .btn-primary-minus{
    margin-right: 3rem;
}
 
  .btn-primary-add{
    margin-left: 3rem;
}

.fa-cart-plus {
    margin-left:1px;
}

  