

 
.btn-group {
    font-size: 13px;     
    position: relative;
    display: inline-block;      
    cursor: pointer; 
  }    
  
.minus{
    margin-right: 1rem;
    background-color: rgb(147, 147, 224);
    color: white;    
}

.minus:hover {
  background-color: rgb(143, 210, 255);
  color: black;
}

.qnt {
  color: black;
  margin-right: 1rem;;
}
 
.add{
    margin-left: 5rem;
    margin-left: 5rem;
    background-color: rgb(147, 147, 224);
    color: white;
}

.add:hover {
  background-color: rgb(143, 210, 255);
  color: black;
}

.info {
    margin-left:20px;
    background-color: rgb(147, 147, 224);
    color: white;
    
}

.info:hover {
  background-color: rgb(143, 210, 255);
  color: black;
}
  